In [1]:
#Lets work the homework together!

In [18]:
import jupyter_core
import sys
print(f"The Jupyter Notebook Kernel Version: {jupyter_core.__version__}")
print("\n")
print(f"The version of Python is \n {sys.version}.\nWe need max 3.12 as 3.13 is not supporting TensorFlow")

The Jupyter Notebook Kernel Version: 5.7.2


The version of Python is
 3.12.9 (tags/v3.12.9:fdb8142, Feb  4 2025, 15:27:58) [MSC v.1942 64 bit (AMD64)].
We need max 3.12 as 3.13 is not supporting TensorFlow

3.  Create a string of your choosing and assign it to a variable called string1.  Create a second variable called  string2 that is assigned from string1 but also converts all letters to caps.

In [20]:
string1 = "Of our choosing"
string2 = string1.upper()
print(f"string 1 is: {string1} \n string2 is: {string2}")

string 1 is: Of our choosing
 string2 is: OF OUR CHOOSING

In [21]:
f"this is a string with a {string1} and {string2}"

'this is a string with a Of our choosing and OF OUR CHOOSING'

4.  Create a list of these integers = 4,4,35,357,76,3,4,3,3,2345,0,-54,2.  Sort the integers and print the list.  Add a comment in your code that explains if a list is a mutable or immutable type.  Next, enter code that would not affect the original and reverse sorts the integers (in a new list called list 2).  Print the second list.

In [31]:
list1 = [4,4,35,357,76,3,4,3,3,2345,0,-54,2]
list1.sort()
print(list1)
list2 = sorted(list1, reverse=True)
print(list2)

[-54, 0, 2, 3, 3, 3, 4, 4, 4, 35, 76, 357, 2345]
[2345, 357, 76, 35, 4, 4, 4, 3, 3, 3, 2, 0, -54]

5.  Create a list called list3 that is a slice of list2 that includes the 4th index to the 3rd from last position.  Print list3.

list3 = list2[4:-3]

In [35]:
list3 = list2[4:-2]

In [36]:
list3

[4, 4, 4, 3, 3, 3, 2]

In [37]:
t1 = (1,2,3,4,5,6,7,8,9,10)

In [38]:
t1.index(5)

4

In [40]:
size = len(t1)
print(f"The size of the tuple is: {size}")

The size of the tuple is: 10

In [41]:
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}

In [42]:
person.pop("age")

30

In [43]:
person

{'name': 'John Doe', 'city': 'New York'}

In [48]:
city, city_value = person.popitem(2)

TypeError: dict.popitem() takes no arguments (1 given)

In [45]:
city

'city'

In [47]:
city_value

'New York'

In [73]:
set1 = {1,2,3,4,5,6,7,8,9,10}

In [50]:
set1.add(11)

In [51]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
popped = set1.pop()
popped

TypeError: set.pop() takes no arguments (1 given)

In [59]:
popped

6

In [60]:
set1

{7, 8, 9, 10, 11}

In [69]:
set1.clear()

In [70]:
set1

set()

In [64]:
del set1

In [76]:
item9 = set1.remove(9)

In [77]:
item9

In [78]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
v1 = set1.pop(4)

TypeError: set.pop() takes no arguments (1 given)

In [80]:
help(set1.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [87]:
d4 = set1.discard(4)

In [82]:
d4

In [83]:
set1

{1, 2, 3, 5, 6, 7, 8}

In [91]:
a = 20
b = 0

while ( a >= b ):
    print(f"Still going b is now {b}")
    b += 2
else:
    print(f"b is now {b} and a is {a} so we are done")

print("We are done with the while loop")

Still going b is now 0
Still going b is now 2
Still going b is now 4
Still going b is now 6
Still going b is now 8
Still going b is now 10
Still going b is now 12
Still going b is now 14
Still going b is now 16
Still going b is now 18
Still going b is now 20
b is now 22 and a is 20 so we are done
We are done with the while loop

In [92]:
a = 20
b = 0

In [93]:
while True:
    print(b)
    if a >= b:
        break

0

In [101]:
dict1 = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}

In [110]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [109]:
range(10)

range(0, 10)