![Monogram_250x186.png]()

In [ ]:
# Author:  Dr K Clements
# email: kenclements@gwu.edu
# Created Date: 8/8/2024
# Last Modified: 3/29/2025

### **SEAS 6414 Lecture 1 Notebook**



1.   Setup
2.   Variables
3.   Input Output and String immutibles
4.   Math
5.   Data Collection Types
6.   Conditionals
7.   Functions and Object Oriented Programming
8.   Loading Data

### ***System Setup***

Loading modules will frequently be the first thing done in a notebook... along with comments

In [116]:
# Install required packages
# This is a Jupyter Notebook cell, so use %pip for installation

# %pip install pandas
# %pip install numpy
# %pip install scikit-learn

Requirement already satisfied: pandas in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from scikit-learn) (2.2.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\cleme\code\seas8416dc8\.venv\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Importing required libraries.  You import "as" to give a shorter name to the library
import numpy as np #For numerical operations
import pandas as pd #Will be using dataframes for data operations

In addition to IDE completion and documentation, there are methods to get help on a libraries methods and functions

In [118]:
# List all the methods and functions in the pandas library
# The IDE will show you the list of functions and methods available in the pandas 
#   library which is more convinient than looking it up in the documentation

dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [1]:
# General help function where you can input the name of the function or method you want help with
# The help function will show you the docstring for the function or method
help()

Welcome to Python 3.12's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".

No Python documentation found for 'pd'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

Class definitions
*****************

A class definition defines a class object (see section The standard
type hierarchy):

   classdef    ::= [decorators] "class" classname [type_params] [inheritance] ":" suite
   inheritance ::= "(" [argument_list] ")"
   classname   ::= identifier

A class definition is an executable statement.  The inheritance list
usually gives a list of base classes (see Metaclasses for more
advanced uses), so each item in the list should evaluate to a class
object which allows subclassing.  Classes without an inheritance list
inherit, by default, from the base class "object"; hence,

   class Foo:
       pass

is equivalent to

   class Foo(object):
       pass

The class’s suite is then executed in a new execution frame (see
Naming and binding), using a newly created local namespace and the
original global namespace. (Usually, the suite contains mostly
function definitions.)  When the class’s suite finishes execution, its
execution frame is discarded but its local namespace is saved. [5] A
class object is then created using the inheritance list for the base
classes and the saved local namespace for the attribute dictionary.
The class name is bound to this class object in the original local
namespace.

The order in which attributes are defined in the class body is
preserved in the new class’s "__dict__".  Note that this is reliable
only right after the class is created and only for classes that were
defined using the definition syntax.

Class creation can be customized heavily using metaclasses.

Classes can also be decorated: just like when decorating functions,

   @f1(arg)
   @f2
   class Foo: pass

is roughly equivalent to

   class Foo: pass
   Foo = f1(arg)(f2(Foo))

The evaluation rules for the decorator expressions are the same as for
function decorators.  The result is then bound to the class name.

Changed in version 3.9: Classes may be decorated with any valid
"assignment_expression". Previously, the grammar was much more
restrictive; see **PEP 614** for details.

A list of type parameters may be given in square brackets immediately
after the class’s name. This indicates to static type checkers that
the class is generic. At runtime, the type parameters can be retrieved
from the class’s "__type_params__" attribute. See Generic classes for
more.

Changed in version 3.12: Type parameter lists are new in Python 3.12.

**Programmer’s note:** Variables defined in the class definition are
class attributes; they are shared by instances.  Instance attributes
can be set in a method with "self.name = value".  Both class and
instance attributes are accessible through the notation “"self.name"”,
and an instance attribute hides a class attribute with the same name
when accessed in this way.  Class attributes can be used as defaults
for instance attributes, but using mutable values there can lead to
unexpected results.  Descriptors can be used to create instance
variables with different implementation details.

See also:

  **PEP 3115** - Metaclasses in Python 3000
     The proposal that changed the declaration of metaclasses to the
     current syntax, and the semantics for how classes with
     metaclasses are constructed.

  **PEP 3129** - Class Decorators
     The proposal that added class decorators.  Function and method
     decorators were introduced in **PEP 318**.

Related help topics: CLASSES, SPECIALMETHODS


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [4]:
# You can pass the function name to the help function to get the docstring for that function
# For example, to get help on the copy method of the DataFrame class in pandas

help(pd.DataFrame.copy)

Help on function copy in module pandas.core.generic:

copy(self, deep: 'bool_t | None' = True) -> 'Self'
    Make a copy of this object's indices and data.

    When ``deep=True`` (default), a new object will be created with a
    copy of the calling object's data and indices. Modifications to
    the data or indices of the copy will not be reflected in the
    original object (see notes below).

    When ``deep=False``, a new object will be created without copying
    the calling object's data or index (only references to the data
    and index are copied). Any changes to the data of the original
    will be reflected in the shallow copy (and vice versa).

    .. note::
        The ``deep=False`` behaviour as described above will change
        in pandas 3.0. `Copy-on-Write
        <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
        will be enabled by default, which means that the "shallow" copy
        is that is returned with ``deep=False`` will still avoid making
        an eager copy, but changes to the data of the original will *no*
        longer be reflected in the shallow copy (or vice versa). Instead,
        it makes use of a lazy (deferred) copy mechanism that will copy
        the data only when any changes to the original or shallow copy is
        made.

        You can already get the future behavior and improvements through
        enabling copy on write ``pd.options.mode.copy_on_write = True``

    Parameters
    ----------
    deep : bool, default True
        Make a deep copy, including a copy of the data and the indices.
        With ``deep=False`` neither the indices nor the data are copied.

    Returns
    -------
    Series or DataFrame
        Object type matches caller.

    Notes
    -----
    When ``deep=True``, data is copied but actual Python objects
    will not be copied recursively, only the reference to the object.
    This is in contrast to `copy.deepcopy` in the Standard Library,
    which recursively copies object data (see examples below).

    While ``Index`` objects are copied when ``deep=True``, the underlying
    numpy array is not copied for performance reasons. Since ``Index`` is
    immutable, the underlying data can be safely shared and a copy
    is not needed.

    Since pandas is not thread safe, see the
    :ref:`gotchas <gotchas.thread-safety>` when copying in a threading
    environment.

    When ``copy_on_write`` in pandas config is set to ``True``, the
    ``copy_on_write`` config takes effect even when ``deep=False``.
    This means that any changes to the copied data would make a new copy
    of the data upon write (and vice versa). Changes made to either the
    original or copied variable would not be reflected in the counterpart.
    See :ref:`Copy_on_Write <copy_on_write>` for more information.

    Examples
    --------
    >>> s = pd.Series([1, 2], index=["a", "b"])
    >>> s
    a    1
    b    2
    dtype: int64

    >>> s_copy = s.copy()
    >>> s_copy
    a    1
    b    2
    dtype: int64

    **Shallow copy versus default (deep) copy:**

    >>> s = pd.Series([1, 2], index=["a", "b"])
    >>> deep = s.copy()
    >>> shallow = s.copy(deep=False)

    Shallow copy shares data and index with original.

    >>> s is shallow
    False
    >>> s.values is shallow.values and s.index is shallow.index
    True

    Deep copy has own copy of data and index.

    >>> s is deep
    False
    >>> s.values is deep.values or s.index is deep.index
    False

    Updates to the data shared by shallow copy and original is reflected
    in both (NOTE: this will no longer be true for pandas >= 3.0);
    deep copy remains unchanged.

    >>> s.iloc[0] = 3
    >>> shallow.iloc[1] = 4
    >>> s
    a    3
    b    4
    dtype: int64
    >>> shallow
    a    3
    b    4
    dtype: int64
    >>> deep
    a    1
    b    2
    dtype: int64

    Note that when copying an object containing Python objects, a deep copy
    will copy the data, but will not do so recursively. Updating a nested
    data object will be reflected in the deep copy.

    >>> s = pd.Series([[1, 2], [3, 4]])
    >>> deep = s.copy()
    >>> s[0][0] = 10
    >>> s
    0    [10, 2]
    1     [3, 4]
    dtype: object
    >>> deep
    0    [10, 2]
    1     [3, 4]
    dtype: object

    **Copy-on-Write is set to true**, the shallow copy is not modified
    when the original data is changed:

    >>> with pd.option_context("mode.copy_on_write", True):
    ...     s = pd.Series([1, 2], index=["a", "b"])
    ...     copy = s.copy(deep=False)
    ...     s.iloc[0] = 100
    ...     s
    a    100
    b      2
    dtype: int64
    >>> copy
    a    1
    b    2
    dtype: int64

In [7]:
# Useing ! can be used to run shell commands from within the notebook
!python --version

Python 3.12.9

In [9]:
# Shell commands can be used for file operations, like listing the contents of the current directory
!dir

 Volume in drive C is Windows-SSD
 Volume Serial Number is 461E-9AC3

 Directory of c:\Users\cleme\code\SEAS8416DC8\src

03/29/2025  10:03 AM    <DIR>          .
03/28/2025  10:06 PM    <DIR>          ..
03/29/2025  10:49 AM         1,007,711 EDA-Iris.ipynb
03/29/2025  04:35 PM           314,416 SEAS8416_Spr1_25-Lecture_1.ipynb
               2 File(s)      1,322,127 bytes
               2 Dir(s)  928,248,287,232 bytes free

### ***Variables and Data Types***

Python has a rich set of built-in data types that allow you to store and manipulate various kinds of data. Here's a breakdown of the main Python data types:

Numeric Types:  Integer (int), Floating-point (float), Complex (complex)

Sequence Types:  String (str), List (list), Tuple (tuple)

Mapping Type:  Distionary(dict)

Set Type:  Set (set), Frozen Set (frozenset)

Boolean (bool)

In [10]:
# Casting as a float will override the default type of the variable
x = float(10)

In [11]:
# Typing the variable name will show you the value of the variable - unless it is an obkect with a __str__ method that is not implemented
x

10.0

In [12]:
# Type can be used to check the type of the variable
type(x)

float

In [13]:
# Recall functions that start with is are frequently returning a boolean value
isinstance(x, str)

False

In [15]:
# Putting several examples together to show the different types of variables in Python
# Integers, floats, strings, and booleans are the most common types of variables in Python
int_var = 56
float_var = 3.14
str_var = "Hello World"
bool_var = True

print(int_var)
print(float_var)
print(str_var)
print(bool_var)

print(type(int_var))
print(type(float_var))
print(type(str_var))
print(type(bool_var))

56
3.14
Hello World
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Creating a variable with 0x in the beginning will tell the interpreter this is a hex value.

In [25]:
x1 = 0x7B

However, when you interogate the variable, it shows it in base10.

In [26]:
x1

123

0b will assign the variable with a binary value

In [27]:
x2 = 0b01111011

Again, it is presented in base10.

In [28]:
x2

123

Add operator does not care what base the integer is in.

In [35]:
x+x1+x2

369.0

math is a good library for many functions.  checkout [math library docs](https://docs.python.org/3/library/math.html).  When using math operators on int and float, the result is a float.

In [16]:
# The math module is a built-in module in Python that provides mathematical functions and constants
# math functions and contants are not available by default, you need to import the math module first
import math
x = 5
y = math.pi
print(y)

3.141592653589793

Even though inputs are int, division returns a float.

In [20]:
x, y = 3, 4 # This is multiple assignment, where x is assigned 3 and y is assigned 4
print(type(x))
print(type(y))
print(type(x / y))
z = x / y
print(z)

<class 'int'>
<class 'int'>
<class 'float'>
0.75

In [21]:
# complex numbers are represented in Python using the complex() function
z = complex(3, 2*math.e)
print("The real part of complex number is:", z.real)
print("The imaginary part of complex number is:", z.imag)

The real part of complex number is: 3.0
The imaginary part of complex number is: 5.43656365691809

Boolean types are True / False or bool(1) bool(0) when you cast.

In [30]:
# Casting anything other than 0 to a boolean will return True
bool1 = bool(1)
print(bool1)
bool2 = bool(0)
print(bool2)
bool3 = bool(-1)
print(bool3)
bool4 = bool(0.0)
print(bool4)
bool5 = bool("Hello")
print(bool5)

True
False
True
False
True

In [31]:
# Adding boolean values will return an integer value
boolSum = bool1 + bool2
boolSum

1

Variables cannot start with anything other than an alpha character

In [32]:
# This will return an error because the variable name cannot start with a number
1varianble = "hello"

SyntaxError: invalid decimal literal (1247228393.py, line 2)

You can assign multiple variables in one line.

In [33]:
x, y, z = 1, 2, "Jerry"
print(x, y, z)

1 2 Jerry

Variable names can follow a few common formats such as camel case or underscore use.

In [34]:
#camel case
camelCaseVariable = "testing 123"
#using underscores
underscore_variable = "testing 123"

### ***Input, Output and String functions***

In [37]:
# input function is used to take input from the user
# The input function will return a value of type string, so you need to cast it to the desired type
name = input("Enter your name: ")
type(name)

str

In [38]:
print(name)

6

In [44]:
# Strings can be concatenated using the + operator
# Strings can be formatted using the format method or f-strings
# The format method is used to format strings using placeholders

name = "Waldo"
fav_num = 10

print("Hello " + name)
print("Also Hello", name)
print (f"Again, Hello {name}")

print ("{} is {:.5f} years old".format(name, fav_num)) # Can also be formatted using the format method
print ("{} is {} years old".format(name, fav_float))

Hello Waldo
Also Hello Waldo
Again, Hello Waldo
Waldo is 10.00000 years old
Waldo is 10.0 years old

In [46]:
repeat = 3
print((name + "\n") * repeat) # This will repeat the string 3 times

Waldo
Waldo
Waldo

In [47]:
# Escape codes are used to format strings in Python
print("Here is how \nyou can use escape codes! \t\t\tAint it Nice???")

Here is how
you can use escape codes! 			Aint it Nice???

In [50]:
# Sting methods are used to manipulate strings in Python
# follow the string variable name with a dot and the method name to use the method
myString = "this Is a Wonkey string!!!!"
print(myString.upper())
print(myString.lower())
print(myString.title())

THIS IS A WONKEY STRING!!!!
this is a wonkey string!!!!
This Is A Wonkey String!!!!

In [ ]:
# Some additional string methods
print(myString.index("Is"))
print(myString.strip())
print(myString.isalpha())
print(myString.split())
print(myString.partition(" "))
print(myString.strip().partition(" "))

5
this Is a Wonkey string!!!!
False
['this', 'Is', 'a', 'Wonkey', 'string!!!!']
('this', ' ', 'Is a Wonkey string!!!!     ')
('this', ' ', 'Is a Wonkey string!!!!')

In [ ]:
#this is a comment for one line
print("You can add comments on same line as code.") #you can place comments here

You can add comments on same line as code.

With 3 quote marks, a multiline comment can be entered.  Also note, when we get to functions, if formatted in a certain way, you can provide help text.

In [51]:
# This is a multi-line comment in a function that will return help on the function

def string_reverse(str1):
    '''
    Returns the reversed String.

    Parameters:
        str1 (str):The string which is to be reversed.

    Returns:
        reverse(str1):The string which gets reversed.
    '''

    reverse_str1 = ''
    i = len(str1)
    while i > 0:
        reverse_str1 += str1[i - 1]
        i = i - 1
    return reverse_str1

In [52]:
help(string_reverse)

Help on function string_reverse in module __main__:

string_reverse(str1)
    Returns the reversed String.

    Parameters:
        str1 (str):The string which is to be reversed.

    Returns:
        reverse(str1):The string which gets reversed.

In [53]:
# Call a function with a string as an argument
string_reverse("This is a string")

'gnirts a si sihT'

In [56]:
# Regular expressions are used to search for patterns in strings
import re # re is a built in module in Python for regular expressions
def remove_num(sentence):
    return re.sub(r'\d+', '', sentence) # This will remove all numbers from the string. \d+ is a regex pattern that matches one or more digits

In [58]:
someString = "123SADFGASDF"
return_val = remove_num(someString)
print(return_val)

SADFGASDF

### ***Basic Math***

In [ ]:
import math

In [60]:
x = 47
print(x**2) # exponentiation
print(x**3) # exponentiation

2209
103823

In [63]:
# The // operator is used for floor division, which returns the largest integer less than or equal to the result of the division
y = 2
x // y

23

In [64]:
# Mod returns the remainder of the division of x by y
x % y

1

Logical Conditionals

In [66]:
x != y # Not equal to operator returns boolean

True

In [67]:
x == y # Equal to operator returns boolean.  Remember that == is used to compare values, while = is used to assign values

False

In [68]:
x > y # Greater than operator returns boolean

True

In [69]:
math.floor(3.999) # Floor function returns the largest integer less than or equal to the number

3

In [70]:
math.ceil(3.333) # Ceil function returns the smallest integer greater than or equal to the number

4

In [73]:
print(math.sqrt(9))
type(math.sqrt(9)) # Square root function returns the square root of the number. Type is float

3.0

float

### ***Data Collection Types***

**Lists**

Defined with [] brackets

In [77]:
names = ["James", "Ryan", "Mary"]

In [78]:
names

['James', 'Ryan', 'Mary']

Access list elements by index.  The first element is index 0.

In [83]:
# iterate though the length of the list and print each name
for i in range(0, len(names)):
    print(names[i])

James
Ryan
Mary

Adding elements is easy and supported

In [84]:
names.append("foo")
names.insert(1, "NEW NAME") # Insert at index 1
names.append(345) # Append at the end of the list

In [86]:
names # We can see the list has been modified

['James', 'NEW NAME', 'Ryan', 'Mary', 'foo', 345]

Elements can be of different data types.  -1 is a positional argument for last the last element

In [90]:
print(type(names[-1])) # This will return the last name in the list
print(type(names[0])) # This will return the first name in the list
print(names[0].upper()) # This will return the first name in the list in upper case

<class 'int'>
<class 'str'>
JAMES

This is one way of removing an element

In [91]:
names.remove("foo")

Lists are interable making it one way to access and work with every element, and also can be assessed with conditionals in the iteration.

In [92]:
for i in names:
    print(i)

James
NEW NAME
Ryan
Mary
345

In [94]:
pop_var = names.pop() # This will remove the last element from the list and return it
print(pop_var)

Mary

In [95]:
names.sort(reverse=True) # This will sort the list in reverse order
print(names)

['Ryan', 'NEW NAME', 'James']

In [97]:
names # sorting changed the list in place, so the original list is now sorted

['Ryan', 'NEW NAME', 'James']

In [98]:
list2 = names.copy() # unless the original list is copied then any operations are actually applied to the original.

In [103]:
list3 = names # This will create a reference to the original list, not a copy of the list

In [105]:
list3 is names # This will return True, because list3 is a reference to the original list, not a copy of the list

True

In [ ]:
list2.append("YAY!!") # This will append "YAY!!" to the end of the list2
# And list 1 was not changed
print(names)

['Ryan', 'NEW NAME', 'James']

In [106]:
# This will create a new tuple
t1 = (1, 'a', 6.233, 1, 1, 1)

In [108]:
t1 # The round brackets are used to create a tuple

(1, 'a', 6.233, 1, 1, 1)

In [113]:
print(t1.count('1')) # This will return the number of times 1 appears in the tuple.  But notice that it is a string, not an integer
print(t1.count(1)) # This will return the number of times 1 appears in the tuple.

0
4

In [115]:
t1.index(6.233) # This will return the index of the first occurrence of 6.233 in the tuple

2

In [129]:
d1 = {"first": "John","last": "Doe","age": 25} # This will create a dictionary with keys and values

In [130]:
print(d1) # key is followed by a : then the value

{'first': 'John', 'last': 'Doe', 'age': 25}

In [131]:
print(d1['age']) # Accessing elements in a dictionary using the key
d1['age'] = 26 # Changing the value of the key 'age' to 26
print(d1['age']) # Accessing elements in a dictionary using the key

25
26

In [132]:
age = d1.popitem() # This will remove the last key-value pair from the dictionary and return it as a tuple
print(age) # This will print the last key-value pair in the dictionary

('age', 26)

In [135]:
print(d1) # The dictionary is now missing the last key-value pair

{'first': 'John', 'last': 'Doe'}

In [137]:
# Iterating through the dictionary using a for loop. Returns the keys of the dictionary 
for x in d1:
  print(x)

first
last

In [138]:
# Iterating through the dictionary using a for loop. Returns the values of the dictionary
for x in d1.values():
  print(x)

John
Doe

In [139]:
# Nested dictionaries are dictionaries within dictionaries
# This is a dictionary with keys and values, where the values are dictionaries
team = {
"goalie" : {
"name" : "John",
"year" : 2
},
"forward" : {
"name" : "Jane",
"year" : 5
},
"center" : {
"name" : "Phillip",
"year" : 0
}
}

In [ ]:
# Accessing a nested dictionary using the key
print(team["center"]["name"]) # This will return the name of the center

Phillip

In [141]:
# Traversing the nested dictionary using a for loop
for x in team.values():
  for y in x.values():
    print(y)

John
2
Jane
5
Phillip
0

In [144]:
# Define sets with {} brackets
# Sets are unordered collections of unique elements
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

![differe.png]()

In [146]:
# set operations are very efficient in Python
# they are implemented using hash tables, so they are very fast
diff = set1.difference(set2) # This will return the difference between set1 and set2

In [147]:
diff

{1, 2, 3}

![sdiffere1.png]()

In [148]:
# symmetric difference returns the elements that are in set1 or set2 but not in both
diff2 = set2.symmetric_difference(set1)

In [149]:
diff2

{1, 2, 3, 6, 7, 8}

In [ ]:
j = iter([2,4,6,8])
for x in j:
  print(x)

print(x) # This will return the last element in the iterator

k = iter([1,2,3,4])
print(next(k)) # This will return the next element in the iterator
print(next(k)) # This will return the next element in the iterator

2
4
6
8
8
1
2

### ***Conditionals and Loops***

In [ ]:
print(1 > 9)
print(9 == 9)
print('a'=='a')
print('b'>='a')
print('0'>='a')
print(int(10 < 9))

False
True
True
True
False
0

In [152]:
# The input function is used to take input from the user
# The input function will return a value of type string, so you need to cast it to the desired type
a = int(input("Enter A:"))
b = int(input("Enter B:"))

In [157]:
print(f"A is {a}, B is {b}") # This will print the values of a and b

# If statements are used to control the flow of the program based on conditions
# The if statement will execute the block of code if the condition is true
# The elif statement will execute the block of code if the condition is true
# The else statement will execute the block of code if the condition is false
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

A is 6, B is 4
a is greater than b

In [158]:
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
print("A") if a > b else print("=") if a == b else print("B")

A

In [161]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

In [162]:
# For loops are used to iterate through a sequence of elements
# The for loop will iterate through the elements in the list
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In BigO notation this is O^2

In [46]:
# This code will print a triangle of "o" characters
# with a base width of 20 characters.
# The triangle will be centered and each row will contain
# an odd number of "o" characters, starting from 1 and
# increasing by 2 for each subsequent row.
# The number of rows is defined by the variable `rows`.

rows = 20
for i in range(1, rows + 1, 2):
  print((int((rows - i) / 2) * " ") + (i * "o"))

         o
        ooo
       ooooo
      ooooooo
     ooooooooo
    ooooooooooo
   ooooooooooooo
  ooooooooooooooo
 ooooooooooooooooo
ooooooooooooooooooo

In [165]:
# This simulated a do while loop, where the code will run at least once
# and then check the condition

name = input("Enter your value: ")
while True:
    try:
        age = int(input("Enter your age: "))
        break
    except:
        print("You didnt enter an integer!!")

print ("{} is {} years old".format(name, age))
print(f"My name is {name}, I am {age:.7f}")

You didnt enter an integer!!
You didnt enter an integer!!
Jimbo is 4 years old
My name is Jimbo, I am 4.0000000

In [ ]:
rows = 20
for i in range(20, 1, 2):
  print((int(rows) * " ") + (i * "o"))

Difference between parameters and arguments?  parameters are defined by the function, and argument is passed to the function.

In [167]:
def my_function(name):
  print(name + " is my name")
  return

my_function("Emil")
my_function("Tobias")
my_function("Linus")
my_function() # This will return an error because the function is not defined to take no arguments

Emil is my name
Tobias is my name
Linus is my name

TypeError: my_function() missing 1 required positional argument: 'name'

In [168]:
my_function(input("Enter your name: ")) # Taking input from the user and passing it to the function

Kip is my name

In [171]:
def add_stuff(a,b,c, /):
    """
    This function adds three numbers together.

    Parameters:
        a (int): The first number.
        b (int): The second number.
        c (int): The third number.

    Returns:
        int: The sum of a, b, and c.
    """
    return a + b + c # This will return the sum of a, b, and c

In [ ]:
add_stuff(9,10,11)

30

In [173]:
add_stuff(b=1, c=2, a=3) # This will return the sum of a, b, and c.  The order of the arguments does not matter if you use keyword arguments

TypeError: add_stuff() got some positional-only arguments passed as keyword arguments: 'a, b, c'

In [175]:
# You can mix positional and keyword arguments, but the positional arguments must come first
def add_stuff(first, second, third):
  print(first)
  print(second)
  print(third)
  return

add_stuff(9, 10, third=11)

9
10
11

Valid Order in Function Definitions
Positional Parameters (normal arguments)

*args (captures extra positional arguments)

Keyword-only Parameters (defined after *args)

**kwargs (captures extra keyword arguments)

In [77]:
# Function with variable-length arguments
# This function takes a variable number of positional and keyword arguments.
# The *args collects additional positional arguments into a tuple,
# and **kwargs collects additional keyword arguments into a dictionary.

def my_function(a, b, *args, c=10, d=20, **kwargs):
    print(f"a: {a}, b: {b}")
    print(f"args: {args}")
    print(f"c: {c}, d: {d}")
    print(f"kwargs: {kwargs}")

# Calling the function
my_function(1, 2, 3, 4, 5, c=30, d=90, e=50, f=60)

a: 1, b: 2
args: (3, 4, 5)
c: 30, d: 90
kwargs: {'e': 50, 'f': 60}

Scoping of variables is important when functions and objects enclose data

In [178]:
x = 100

def global_test():
    global x # This will declare x as a global variable
    # This will create a new variable x in the global scope
    x = 10 # This will create a new variable x in the local scope
    print(x)

def nonglobal_test():
    p = 5
    print(y)

print(x) # This will print the value of x in the global scope
global_test()
nonglobal_test()
print(p) # This will return an error because y is not defined in the global scope

100
10
cherry

NameError: name 'p' is not defined

Will allow a variable number of arguments to be made

In [181]:
def my_function2(*kids):
  print("The youngest child is "+ kids[-2]) # This will return the second to last element in the list of kids
  print(kids)
  print("The first kid listed is " + kids[0])
  return

my_function2("Emil", "Tobias", "Linus") # Allows for variable multiple arguments to be passed to the function

The youngest child is Tobias
('Emil', 'Tobias', 'Linus')
The first kid listed is Emil

kwargs or key word arguments can allow for flexibility

In [182]:
def my_function3(child2, child1, child3):
  print(child2 + " is the middle child")
  return

my_function3(child1 = "Emil", child2 = "Tobias", child3 = "Linus") # Key value pairs can be used to pass arguments to the function in any order

Tobias is the middle child

In [183]:
def my_default_function(country = "Norway"):
  print("I am from " + country)

my_default_function("Sweden")
my_default_function("India")
my_default_function() # This will use the default value of the function, which is "Norway"
my_default_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [184]:
k = lambda a,b,c : a + b - c # This is a lambda function that takes three arguments and returns the sum of the first two arguments minus the third argument

print(k(a=5,b=7,c=23))

-11

In [179]:
# Recursion is a programming technique where a function calls itself to solve a problem.
# It is often used to solve problems that can be broken down into smaller subproblems.
def fibonacci(k):
    #This is the BASE CASE
    if k == 0:
        return 0
    elif k == 1 or k == 2:
        #This is the RECURSIVE CASE
        return 1
    else:
        #This is the RECURSIVE CASE
        return fibonacci(k-1) + fibonacci(k-2)

fibonacci(9)

34

In [186]:
# Parent class
class Vehicle:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def display_info(self):
        return f"{self.year} {self.brand} {self.model}"

# Child class
class Car(Vehicle):
    def __init__(self, brand, model, year, doors):
        super().__init__(brand, model, year)  # Call parent constructor
        self.doors = doors

    def display_info(self):
        return f"{super().display_info()} with {self.doors} doors"

# Example usage
my_car = Car("Toyota", "Corolla", 2023, 4)
print(my_car.display_info())  # Output: 2023 Toyota Corolla with 4 doors

2023 Toyota Corolla with 4 doors

In [185]:
# Another example of a function that has logic within it
def string_reverse(str1):
    '''
    Returns the reversed String.

    Parameters:
        str1 (str):The string which is to be reversed.

    Returns:
        reverse(str1):The string which gets reversed.
    '''

    reverse_str1 = ''
    i = len(str1)
    while i > 0:
        reverse_str1 += str1[i - 1]
        i = i- 1
    return reverse_str1

In [ ]:
help(string_reverse)

Help on function string_reverse in module __main__:

string_reverse(str1)
    Returns the reversed String.

    Parameters:
        str1 (str):The string which is to be reversed.

    Returns:
        reverse(str1):The string which gets reversed.

### ***Data Loading***

In [8]:
df_bos = pd.read_csv('/Users/cleme/code/SEAS8416DC8/data/Boston.csv')

In [9]:
df_bos.columns

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'lstat', 'medv'],
      dtype='object')

In [10]:
print(df_bos.columns)

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'lstat', 'medv'],
      dtype='object')

In [11]:
for i in df_bos.columns:
  print(i)

Unnamed: 0
crim
zn
indus
chas
nox
rm
age
dis
rad
tax
ptratio
lstat
medv

In [12]:
df_bos['tax'].mean()

np.float64(408.2371541501976)

In [13]:
df_bos.describe()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,253.500000,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,146.213884,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,1.000000,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,127.250000,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,253.500000,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,379.750000,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,506.000000,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

In [15]:
df_bos.head(15)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2
5,6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,5.21,28.7
6,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,12.43,22.9
7,8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,19.15,27.1
8,9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,29.93,16.5
9,10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,17.10,18.9
10,11,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311,15.2,20.45,15.0
11,12,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311,15.2,13.27,18.9
12,13,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311,15.2,15.71,21.7
13,14,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,8.26,20.4
14,15,0.63796,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307,21.0,10.26,18.2

In [16]:
df_bos.tail(15)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
491,492,0.10574,0.0,27.74,0,0.609,5.983,98.8,1.8681,4,711,20.1,18.07,13.6
492,493,0.11132,0.0,27.74,0,0.609,5.983,83.5,2.1099,4,711,20.1,13.35,20.1
493,494,0.17331,0.0,9.69,0,0.585,5.707,54.0,2.3817,6,391,19.2,12.01,21.8
494,495,0.27957,0.0,9.69,0,0.585,5.926,42.6,2.3817,6,391,19.2,13.59,24.5
495,496,0.17899,0.0,9.69,0,0.585,5.670,28.8,2.7986,6,391,19.2,17.60,23.1
496,497,0.28960,0.0,9.69,0,0.585,5.390,72.9,2.7986,6,391,19.2,21.14,19.7
497,498,0.26838,0.0,9.69,0,0.585,5.794,70.6,2.8927,6,391,19.2,14.10,18.3
498,499,0.23912,0.0,9.69,0,0.585,6.019,65.3,2.4091,6,391,19.2,12.92,21.2
499,500,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,15.10,17.5
500,501,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,14.33,16.8
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9

In [17]:
bos_tax = pd.Series(df_bos['tax'])

In [18]:
bos_tax.tail(10)

496    391
497    391
498    391
499    391
500    391
501    273
502    273
503    273
504    273
505    273
Name: tax, dtype: int64

In [19]:
df_groupby = pd.DataFrame(
{"key": ["A", "B", "C", "A", "B", "C"], "data":
range(6)}, columns=["key", "data"]
)
print(df_groupby)
print(df_groupby.groupby('key'))
df_groupby.groupby('key').sum()

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024379010740>

     data
key
A       3
B       5
C       7

In [ ]:
import numpy as np
np.random.seed(0) # seed for reproducibility
x1 = np.random.randint(10, size=6) # One-dimensional array
x2 = np.random.randint(10, size=(3, 4)) # Two-dimensional array
x3 = np.random.randint(10, size=(3, 4, 5)) # Three-dimensional array

In [ ]:
x2.ndim

2

In [ ]:
x3.shape

(3, 4, 5)

In [ ]:
original = np.arange(1, 13)
print(original)
reshaped = original.reshape(4,3)
print(reshaped)
print(original) # we can see reshaping does not mutate the nparray

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [ ]:
np.sqrt(original)

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766,
       3.31662479, 3.46410162])

In [ ]:
employees = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'DepartmentID': [101, 102, 101, 103, 102]
}
departments = {
    'DepartmentID': [101, 102, 103],
    'DepartmentName': ['HR', 'IT', 'Finance']
}
df_employees = pd.DataFrame(employees)
df_departments = pd.DataFrame(departments)

In [ ]:
df_merged = pd.merge(df_employees, df_departments, on='DepartmentID', how='left')

In [ ]:
df_merged

   EmployeeID Employee  DepartmentID DepartmentName
0           1    Alice           101             HR
1           2      Bob           102             IT
2           3  Charlie           101             HR
3           4    David           103        Finance
4           5      Eva           102             IT

In [ ]:
df_merged.loc[df_merged['DepartmentName'] == 'IT']

   EmployeeID Employee  DepartmentID DepartmentName
1           2      Bob           102             IT
4           5      Eva           102             IT

In [ ]:
import numpy as np

In [ ]:
M1 = np.array([[1, 2], [3, 4]])
M2 = np.array([[5, 6], [7, 8]])

In [ ]:
M3 = np.dot(M1, M2)

In [ ]:
M3

array([[19, 22],
       [43, 50]])

In [ ]:
np.invert(M3)

array([[-20, -23],
       [-44, -51]])

In [ ]:
M1 = np.array([[2, 4], [5, -7]])
M2 = np.array([[6, 12], [10, -8]])

In [ ]:
M3 = np.dot(M1, M2)

In [ ]:
M3

array([[ 52,  -8],
       [-40, 116]])

In [ ]:
M4 = np.linalg.inv(M3)

In [ ]:
M4

array([[0.02030812, 0.00140056],
       [0.0070028 , 0.00910364]])

In [ ]:
np.ones([3,3])

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
A1 = np.arange(1,21)

In [ ]:
A1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [ ]:
A1.reshape(4,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [111]:
class Ship:
    count = 0
    def __init__(self, name, tonnage, year_built):
        self.name = name
        self.tonnage = tonnage
        self.year_built = year_built
    def say_hello(self):
        print("Hello, my name is " + self.name)
    def increase_tonnage(self, amount):
        self.tonnage += amount

In [112]:
tanker = Ship("Tanker", 50000, 1000) # construct the object Initialization!

In [102]:
tanker.say_hello()

Hello, my name is Tanker

In [103]:
tanker.name

'Tanker'

In [106]:
tanker.tonnage

50000

In [113]:
tanker.increase_tonnage(1000)

In [115]:
tanker.tonnage

51000